/**
* created by kezhi
**/
.clear{
	clear: both;
}
.toast-container {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	width: 100%;
	text-align: center;
	z-index: 2000;
}

.toast-container .toast {
	min-width: 260px;
	max-width: 280px;
	width: auto;
	padding: 13px 15px;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	margin: 0 auto;
	border-radius: 2px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.8);
}
.edui-default .edui-editor{
	border: none !important;
}
.head-url{
	width: 80px;
	height: 80px;
}
.upfile{
	border: none;
	box-shadow:none;
	height: 16px !important;
	line-height: 16px !important;
	padding: 5px 0;
}
.upfile-style{
	background: #efefef;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px 5px;
}
.radio label{
	float: left;
	margin-right: 10px;
	width: 60px;
}
.radio input{
	border:none;
	box-shadow:none
}
.left40{
	padding-left: 40px;
}