.navbar
    .navbar-inner
        .container
            a.brand
                img(src='../images/logo.png')
            ul.nav.pull-right
                li
                    a(href='/') 首页
                li
                    a(href='/') 设置
                li
                    a(href='/signout') 退出
