<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">
				<!--<img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg">-->
			</a>
			<ul class="nav pull-right">
				<li><a href="#/">首页</a></li>
				<li><a href="#/about" target="">关于</a></li>
				<li><a href="#/setting">设置</a></li>
				<li ng-show="userinfo==null?true:false"><a href="#/register" rel="nofollow">注册</a></li>
				<li><a ng-click="log(userinfo)" href="javascript:;" rel="nofollow">{{userinfo==null?'登录':'退出'}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="main">
	<div id="sidebar" ng-controller="SidebarCtrl">
		<div class="panel" ng-show="userinfo==null?false:true">
			<div class="header">
				<span class="col_fade">个人信息</span>
			</div>
			<div class="inner">
				<div class="user_card">
					<a class="user_avatar" href="#/user/{{userinfo._id}}"><img ng-src="{{userinfo.head?userinfo.head:'/images/me.jpg'}}" title="kezhi"/></a>
					<span class="user_name"><a class="dark" href="#/user/{{userinfo._id}}">{{userinfo.username}}</a></span>
					<div class="space clearfix"></div>
					<span class="signature">{{userinfo.signature?'“ '+userinfo.signature+' “':'“这家伙很懒，什么个性签名都没有留下。”'}}</span>
				</div>
			</div>
		</div>
		<div class="panel" ng-show="userinfo==null?true:false">
			<div class="inner">
				<p>前端专业中文社区</p>
				<div>
					您可以
					<a href="#/register">注册</a>
					或
					<a href="#/login">
						<span class="span-info">登录</span>
					</a>
				</div>
			</div>
		</div>
		<div class="panel" ng-show="userinfo==null?false:true">
			<div class="inner">
				<a href="#/post-topic" id="create_topic_btn">
					<span class="span-success">发布话题</span>
				</a>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="panel">
			<div class="header">
				<ul class="breadcrumb">
					<li><a href="/">主页</a><span class="divider">/</span></li>
				</ul>
			</div>
			<div class="inner topic">
				<div class="topic_content">
					<div class="markdown-text"><h3>关于</h3>
						<p>本社区为前端交流开源技术社区，致力于nodejs，html5，javascript，angularjs,react,vuejs等web,app前端技术的研究。</p>
						<p>本社区由柯织创建，欢迎更多专业技术人员以及感兴趣的朋友加入。</p>
						<p>社区目前由 <a href="https://github.com/kezhi" target="_blank">@kezhi</a> 在维护，有问题请联系：<a href="https://github.com/kezhi" target="_blank">https://github.com/kezhi。</a></p>
						<p>请关注我们的官方微博：<a href="http://weibo.com/kezhi" target="_blank">http://weibo.com/kezhi。</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>