<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">
				<!--<img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg">-->
			</a>
			<ul class="nav pull-right">
				<li><a href="#/">首页</a></li>
				<li><a href="#/about" target="">关于</a></li>
				<li><a href="#/setting">设置</a></li>
				<li ng-show="userinfo==null?true:false"><a href="#/register" rel="nofollow">注册</a></li>
				<li><a ng-click="log(userinfo)" href="javascript:;" rel="nofollow">{{userinfo==null?'登录':'退出'}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="main">
	<div id="sidebar">
		<div class="panel">
			<div class="header">
				<span class="col_fade">关于</span>
			</div>
			<div class="inner">
				<p>前端专业中文社区</p>

				<p>在这里你可以：</p>
				<ul>
					<li>向别人提出你遇到的问题</li>
					<li>帮助遇到问题的人</li>
					<li>分享自己的知识</li>
					<li>和其它人一起进步</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="panel">
			<div class="header topic_header">
				<span class="topic_full_title">{{topicView.title}}</span>
				<div class="changes">
					<span> 发布于 {{topicView.created_at}}</span>
					<span> 作者 {{topicView.author}}</span>
				</div>
				<div id="manage_topic" ng-show="userinfo==null?false:true">
					<a href="#/edit-topic/{{topicView.id}}">编辑</a>
					<a href="javascript:;" class="delete_topic_btn" ng-click="deleteTopic()">删除</a>
				</div>
			</div>
			<div class="inner topic">
				<div class="topic_content" ng-bind-html="content">
				</div>
			</div>
		</div>
		<!--//评论-->
		<div class="panel">
			<div class="header">
				<span class="col_fade">{{commentsLen}} 回复</span>
			</div>
			<div class="cell reply_area reply_item" ng-repeat="comment in comments">
				<div class="author_content">
					<a href="#/user" class="user_avatar"><img ng-src="{{comment.user_head?comment.user_head:'/images/me.jpg'}}" title="{{comment.username}}"></a>
					<div class="user_info">
						<a class="dark reply_author" href="#/user">{{comment.username}}</a>
						<a class="reply_time" href="javascript:;">{{comment.created_at}}</a>
					</div>
				</div>
				<div class="reply_content from-imhered">
					<div class="markdown-text" ng-bind-html="comment.comment">
					</div>
				</div>
			</div>

		</div>
		<!--添加回复-->
		<div class="panel">
			<div class="header">
				<span class="col_fade">添加回复</span>
			</div>
			<div class="inner reply">
				<!--// 富文本编辑器-->
				<div style="position:relative">
					<script id="container" type="text/plain"><p></p></script>
				</div>
				<div class="editor_buttons">
					<input ng-click="submitContent()" type="button" class="span-primary submit_btn" value="提交">
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	UE.getEditor('container',{
		toolbars: [
			[
				'bold',
				'italic',
				'underline',
				'insertorderedlist',
				'inserttitle', //插入标题
				'simpleupload' //单图上传
			]
		],
		initialFrameWidth:'100%',
		initialFrameHeight:'50px'
	}).ready(function() {

	});
</script>